In [724]:
import pandas as pd
import numpy as np

# 2. 전처리

In [725]:
origin_data=pd.read_csv("전처리파일저장/cgv_원본_통합파일.csv", encoding='utf-8-sig')
data=origin_data.copy()

In [726]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8193 entries, 0 to 8192
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영화제목     8193 non-null   object
 1   에그지수     6400 non-null   float64
 2   성별       5395 non-null   object
 3   연령별      5576 non-null   object
 4   감독/등장인물  7001 non-null   object
 5   관람포인트    7444 non-null   object
 6   실관람평개수   8193 non-null   int64
dtypes: float64(1), int64(1), object(5)
memory usage: 448.2+ KB

In [727]:
data.head()

,영화제목,에그지수,성별,연령별,감독/등장인물,관람포인트,실관람평개수
0,매트릭스3 레볼루션,0.0,NaN,NaN,"감독 앤디 워쇼스키, 감독 라나 워쇼스키, 키아누 리브스, 모니카 벨루치, 로렌스 피쉬번",영상미가 뛰어나고 몰입하여 보게 되는 영화,0
1,써클,NaN,NaN,NaN,"감독 박기형, 김혜성, 이행석, 이태성, 장희진",배우연기가 메소드급인 몰입하여 보게 되는 영화,0
2,폴리와 함께,0.0,NaN,NaN,"감독 존 햄버거, 필립 세이무어 호프만, 데브라 메싱, 제니퍼 애니스톤, 알렉 볼드윈",배우연기가 메소드급인 몰입하여 보게 되는 영화,0
3,온화한 일상,NaN,NaN,NaN,NaN,스토리가 탄탄하고 공감되는 영화,5
4,시월애,95.0,"성별예매 분포: 남 45%, 여 55%","연령별예매 분포: 10대 2%, 20대 31%, 30대 40%, 40대 14%, 5...","감독 이현승, 이인철, 전지현, 이정재, 김무생",영상미가 뛰어나고 감동적인 영화,238

In [728]:
data.describe()

              에그지수        실관람평개수
count  6400.000000   8193.000000
mean     50.123281    725.769437
std      44.194306   1756.634614
min       0.000000      0.000000
25%       0.000000      1.000000
50%      76.000000     63.000000
75%      92.000000    522.000000
max     100.000000  31658.000000

## 성별, 연령별 예매 데이터 결측값 삭제

In [729]:
data.dropna(subset=['성별', '연령별'], inplace=True)
data.isna().sum()

영화제목         0
에그지수       910
성별           0
연령별          0
감독/등장인물    727
관람포인트      266
실관람평개수       0
dtype: int64

In [730]:
data.query("성별 == '성별예매 분포: 남 0%, 여 0%'")[['성별','연령별']].value_counts()

성별                   연령별
성별예매 분포: 남 0%, 여 0%  연령별예매 분포: 10대 0%, 20대 0%, 30대 0%, 40대 0%, 50대 0%    635
Name: count, dtype: int64

In [731]:
data.query("연령별 == '연령별예매 분포: 10대 0%, 20대 0%, 30대 0%, 40대 0%, 50대 0%'")[['성별','연령별']].value_counts()

성별                   연령별
성별예매 분포: 남 0%, 여 0%  연령별예매 분포: 10대 0%, 20대 0%, 30대 0%, 40대 0%, 50대 0%    635
Name: count, dtype: int64

In [732]:
data=data[~data['성별'].isin(['성별예매 분포: 남 0%, 여 0%'])]

In [733]:
data.query("연령별 == '연령별예매 분포: 10대 0%, 20대 0%, 30대 0%, 40대 0%, 50대 0%'")

Empty DataFrame
Columns: [영화제목, 에그지수, 성별, 연령별, 감독/등장인물, 관람포인트, 실관람평개수]
Index: []

## 평점, 리뷰수 결측값 삭제

In [734]:
data.isna().sum()

영화제목         0
에그지수       576
성별           0
연령별          0
감독/등장인물    639
관람포인트       95
실관람평개수       0
dtype: int64

In [735]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4760 entries, 4 to 8192
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   영화제목     4760 non-null   object
 1   에그지수     4184 non-null   float64
 2   성별       4760 non-null   object
 3   연령별      4760 non-null   object
 4   감독/등장인물  4121 non-null   object
 5   관람포인트    4665 non-null   object
 6   실관람평개수   4760 non-null   int64
dtypes: float64(1), int64(1), object(5)
memory usage: 297.5+ KB

In [736]:
data["에그지수"].unique()

array([ 95.,  99.,  94.,  92.,  97.,  88.,   0.,  93.,  90.,  84.,  nan,
        98.,  87.,  89.,  73.,  82.,  85.,  86.,  68.,  41.,  63.,  91.,
        80.,  57.,  56.,  67.,  64.,  60.,  83.,  96.,  79.,  62.,  74.,
        81.,  55.,  69.,  51.,  58.,  66.,  53.,  78.,  71.,  77.,  75.,
        48.,  70.,  61.,  52.,  72.,  59.,  39.,  46.,  76., 100.,  43.,
        35.,  45.,  27.,  49.,  65.,  37.,  40.,  50.,  54.])

In [737]:
data=data[~data['에그지수'].isin([0, np.nan])]

In [738]:
data["에그지수"].unique()

array([ 95.,  99.,  94.,  92.,  97.,  88.,  93.,  90.,  84.,  98.,  87.,
        89.,  73.,  82.,  85.,  86.,  68.,  41.,  63.,  91.,  80.,  57.,
        56.,  67.,  64.,  60.,  83.,  96.,  79.,  62.,  74.,  81.,  55.,
        69.,  51.,  58.,  66.,  53.,  78.,  71.,  77.,  75.,  48.,  70.,
        61.,  52.,  72.,  59.,  39.,  46.,  76., 100.,  43.,  35.,  45.,
        27.,  49.,  65.,  37.,  40.,  50.,  54.])

In [739]:
data.isna().sum()

영화제목         0
에그지수         0
성별           0
연령별          0
감독/등장인물    171
관람포인트        6
실관람평개수       0
dtype: int64

In [740]:
data["실관람평개수"].describe()

count     2922.000000
mean      1459.526352
std       1947.852554
min          0.000000
25%        231.000000
50%        716.000000
75%       1984.000000
max      31658.000000
Name: 실관람평개수, dtype: float64

In [741]:
data=data[data["실관람평개수"]!=0]
data.describe()

              에그지수        실관람평개수
count  2873.000000   2873.000000
mean     87.898712   1484.419074
std      10.327060   1954.967567
min      27.000000      2.000000
25%      84.000000    243.000000
50%      91.000000    741.000000
75%      95.000000   2022.000000
max     100.000000  31658.000000

## 관람포인트

In [742]:
data.dropna(subset=["관람포인트"], inplace=True)

In [743]:
data["관람포인트"].value_counts()

관람포인트
배우연기가 메소드급인 몰입하여 보게 되는 영화     1094
스토리가 탄탄하고 몰입하여 보게 되는 영화        248
영상미가 뛰어나고 몰입하여 보게 되는 영화        243
배우연기가 메소드급인 감동적인 영화            154
감독연출가 훌륭하고 몰입하여 보게 되는 영화       124
배우연기가 메소드급인 유쾌한 영화             102
스토리가 탄탄하고 감동적인 영화               99
배우연기가 메소드급인 공감되는 영화             90
영상미가 뛰어나고 감동적인 영화               77
배우연기가 메소드급인 스트레스가 해소되는 영화       61
OST가 명곡인 몰입하여 보게 되는 영화          59
스토리가 탄탄하고 유쾌한 영화                49
배우연기가 메소드급인 긴장을 늦출 수 없는 영화      48
배우연기가 메소드급인 오싹하게 무서운 영화         43
OST가 명곡인 감동적인 영화                42
배우연기가 메소드급인 기분이 좋아지는 영화         40
스토리가 탄탄하고 상상력을 자극하는 영화          39
영상미가 뛰어나고 상상력을 자극하는 영화          38
영상미가 뛰어나고 유쾌한 영화                26
스토리가 탄탄하고 공감되는 영화               25
영상미가 뛰어나고 기분이 좋아지는 영화           22
영상미가 뛰어나고 공감되는 영화               14
배우연기가 메소드급인 설렘이 가득한 영화           9
OST가 명곡인 스트레스가 해소되는 영화           9
영상미가 뛰어나고 영감을 주는 영화              9
스토리가 탄탄하고 영감을 주는 영화              9
OST가 명곡인 유쾌한 영화                  8
영상미가 뛰어나고 스트레스가 해소되는 영화          8
스토리가 탄탄하고 기분이 좋아지는 영화            8
배우연기가 메소드급인 현실감 있는 영화            7
감독연출가 훌륭하고 공감되는 영화               7
영상미가 뛰어나고 설렘이 가득한 영화             7
영상미가 뛰어나고 긴장을 늦출 수 없는 영화         7
OST가 명곡인 상상력을 자극하는 영화            6
감독연출가 훌륭하고 감동적인 영화               6
OST가 명곡인 기분이 좋아지는 영화             5
스토리가 탄탄하고 오싹하게 무서운 영화            4
스토리가 탄탄하고 긴장을 늦출 수 없는 영화         3
OST가 명곡인 공감되는 영화                 3
스토리가 탄탄하고 현실감 있는 영화              2
스토리가 탄탄하고 스트레스가 해소되는 영화          2
감독연출가 훌륭하고 긴장을 늦출 수 없는 영화        2
감독연출가 훌륭하고 기분이 좋아지는 영화           2
감독연출가 훌륭하고 오싹하게 무서운 영화           1
영상미가 뛰어나고 오싹하게 무서운 영화            1
감독연출가 훌륭하고 현실감 있는 영화             1
감독연출가 훌륭하고 스트레스가 해소되는 영화         1
OST가 명곡인 영감을 주는 영화               1
배우연기가 메소드급인 영감을 주는 영화            1
감독연출가 훌륭하고 유쾌한 영화                1
Name: count, dtype: int64

관람포인트를 유형별로 묶을 수 있을까? tf-idf처럼

## 감독/등장인물

In [744]:
data.dropna(subset=['감독/등장인물'], inplace=True)

In [745]:
people=data[["감독/등장인물"]]

# 2. 괄호를 고려하여 문자열을 분리하고, 감독과 배우를 추출하는 핵심 함수
def parse_roles(text: str) -> tuple[list[str], list[str]]:
    """
    하나의 문자열을 입력받아 감독 리스트와 배우 리스트를 반환합니다.
    괄호 안의 쉼표는 분리 기준으로 삼지 않아 안정적으로 처리합니다.
    """
    
    # 괄호 안의 쉼표(,)를 임시 문자열('##COMMA##')로 치환하는 내부 함수
    def replace_comma_in_parentheses(match: re.Match) -> str:
        return match.group(0).replace(',', '##COMMA##')
    
    # 정규표현식을 사용해 괄호(...) 안의 내용에만 위의 치환 함수를 적용
    temp_text = re.sub(r'\([^)]+\)', replace_comma_in_parentheses, text)
    
    # 이제 쉼표로 분리해도 괄호 안 내용은 분리되지 않음
    # 분리 후, 임시 문자열을 다시 쉼표로 복원하고 양쪽 공백을 제거
    people_list = [p.replace('##COMMA##', ',').strip() for p in temp_text.split(',')]
    
    directors = []
    actors = []
    
    for person in people_list:
        if person.startswith('감독 '):
            # '감독 ' 접두사를 제거하고 감독 리스트에 추가
            directors.append(person.replace('감독 ', '', 1))
        elif person:  # person이 빈 문자열이 아닌 경우
            # 배우 리스트에 추가
            actors.append(person)
            
    return directors, actors

people[['감독리스트', '배우리스트']] = people["감독/등장인물"].apply(
    lambda text: pd.Series(parse_roles(text))
)


# 4. 감독 리스트를 개별 컬럼('감독1', '감독2', ...)으로 분리
# 리스트의 최대 길이를 구해 필요한 만큼 컬럼을 동적으로 생성합니다.
max_directors = people['감독리스트'].str.len().max()
for i in range(1, max_directors + 1):
    # .str.get(i-1)을 사용해 각 리스트의 i번째 요소를 안전하게 추출 (없으면 NaN)
    people[f'감독{i}'] = people['감독리스트'].str.get(i - 1)

# 5. 배우 리스트를 개별 컬럼('배우1', '배우2', ...)으로 분리
max_actors = people['배우리스트'].str.len().max()
for i in range(1, max_actors + 1):
    people[f'배우{i}'] = people['배우리스트'].str.get(i - 1)

# 6. 최종 결과 확인
# 원본 및 중간 과정 컬럼을 제외하고, 최종적으로 생성된 감독/배우 컬럼만 선택하여 출력합니다.
final_columns = [col for col in people.columns if re.match(r'^(감독\d+|배우\d+)$', col)]
people = people[final_columns]
people

/var/folders/5r/gp1130xx2t5fbxbgt43xtp_m0000gn/T/ipykernel_86529/4169411610.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people[['감독리스트', '배우리스트']] = people["감독/등장인물"].apply(
/var/folders/5r/gp1130xx2t5fbxbgt43xtp_m0000gn/T/ipykernel_86529/4169411610.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people[['감독리스트', '배우리스트']] = people["감독/등장인물"].apply(
/var/folders/5r/gp1130xx2t5fbxbgt43xtp_m0000gn/T/ipykernel_86529/4169411610.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people[f'감독{i}'] = people['감독리스트'].str.get(i - 1)
/var/folders/5r/gp1130xx2t5fbxbgt43xtp_m0000gn/T/ipykernel_86529/4169411610.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people[f'감독{i}'] = people['감독리스트'].str.get(i - 1)
/var/folders/5r/gp1130xx2t5fbxbgt43xtp_m0000gn/T/ipykernel_86529/4169411610.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people[f'감독{i}'] = people['감독리스트'].str.get(i - 1)

,감독1,감독2,감독3,감독4,감독5,배우1,배우2,배우3,배우4,배우5,배우6
4,이현승,NaN,NaN,NaN,NaN,이인철,전지현,이정재,김무생,NaN,NaN
5,켄 로치,NaN,NaN,NaN,NaN,킬리언 머피,NaN,NaN,NaN,NaN,NaN
6,송해성,NaN,NaN,NaN,NaN,최민식,김지영,손병호,공형진,NaN,NaN
11,리처드 링클레이터,NaN,NaN,NaN,NaN,줄리 델피,에단 호크,NaN,NaN,NaN,NaN
12,허진호,NaN,NaN,NaN,NaN,유지태,이문식,이영애,박인환,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8177,조엘 크로포드,NaN,NaN,NaN,NaN,캐서린 키너,클로리스 리치먼,레슬리 만,켈리 마리 트란,라이언 레이놀즈,NaN
8179,페데리코 펠리니,NaN,NaN,NaN,NaN,프랑코 파브리지,알베르토 소르디,프랑코 인테르렝기,NaN,NaN,NaN
8181,정익환,NaN,NaN,NaN,NaN,봉태규,최강희,NaN,NaN,NaN,NaN
8183,피에르 파올로 파졸리니,NaN,NaN,NaN,NaN,안나 마냐니,NaN,NaN,NaN,NaN,NaN
8185,페데리코 펠리니,NaN,NaN,NaN,NaN,산드라 밀로,줄리에타 마시나,NaN,NaN,NaN,NaN

In [746]:
data.drop(columns=['감독/등장인물'], inplace=True)
data=pd.concat([data, people], axis=1)
data.head()

,영화제목,에그지수,성별,연령별,관람포인트,실관람평개수,감독1,감독2,감독3,감독4,감독5,배우1,배우2,배우3,배우4,배우5,배우6
4,시월애,95.0,"성별예매 분포: 남 45%, 여 55%","연령별예매 분포: 10대 2%, 20대 31%, 30대 40%, 40대 14%, 5...",영상미가 뛰어나고 감동적인 영화,238,이현승,NaN,NaN,NaN,NaN,이인철,전지현,이정재,김무생,NaN,NaN
5,보리밭을 흔드는 바람,99.0,"성별예매 분포: 남 39%, 여 61%","연령별예매 분포: 10대 2%, 20대 28%, 30대 33%, 40대 18%, 5...",배우연기가 메소드급인 몰입하여 보게 되는 영화,862,켄 로치,NaN,NaN,NaN,NaN,킬리언 머피,NaN,NaN,NaN,NaN,NaN
6,파이란,95.0,"성별예매 분포: 남 63%, 여 37%","연령별예매 분포: 10대 2%, 20대 24%, 30대 38%, 40대 21%, 5...",배우연기가 메소드급인 감동적인 영화,264,송해성,NaN,NaN,NaN,NaN,최민식,김지영,손병호,공형진,NaN,NaN
11,비포 미드나잇,92.0,"성별예매 분포: 남 35%, 여 65%","연령별예매 분포: 10대 0%, 20대 40%, 30대 40%, 40대 13%, 5...",배우연기가 메소드급인 몰입하여 보게 되는 영화,3720,리처드 링클레이터,NaN,NaN,NaN,NaN,줄리 델피,에단 호크,NaN,NaN,NaN,NaN
12,봄날은 간다,97.0,"성별예매 분포: 남 45%, 여 55%","연령별예매 분포: 10대 1%, 20대 37%, 30대 38%, 40대 14%, 5...",배우연기가 메소드급인 공감되는 영화,1220,허진호,NaN,NaN,NaN,NaN,유지태,이문식,이영애,박인환,NaN,NaN

## 성별, 연령대별 예매율

In [747]:
data.head()

,영화제목,에그지수,성별,연령별,관람포인트,실관람평개수,감독1,감독2,감독3,감독4,감독5,배우1,배우2,배우3,배우4,배우5,배우6
4,시월애,95.0,"성별예매 분포: 남 45%, 여 55%","연령별예매 분포: 10대 2%, 20대 31%, 30대 40%, 40대 14%, 5...",영상미가 뛰어나고 감동적인 영화,238,이현승,NaN,NaN,NaN,NaN,이인철,전지현,이정재,김무생,NaN,NaN
5,보리밭을 흔드는 바람,99.0,"성별예매 분포: 남 39%, 여 61%","연령별예매 분포: 10대 2%, 20대 28%, 30대 33%, 40대 18%, 5...",배우연기가 메소드급인 몰입하여 보게 되는 영화,862,켄 로치,NaN,NaN,NaN,NaN,킬리언 머피,NaN,NaN,NaN,NaN,NaN
6,파이란,95.0,"성별예매 분포: 남 63%, 여 37%","연령별예매 분포: 10대 2%, 20대 24%, 30대 38%, 40대 21%, 5...",배우연기가 메소드급인 감동적인 영화,264,송해성,NaN,NaN,NaN,NaN,최민식,김지영,손병호,공형진,NaN,NaN
11,비포 미드나잇,92.0,"성별예매 분포: 남 35%, 여 65%","연령별예매 분포: 10대 0%, 20대 40%, 30대 40%, 40대 13%, 5...",배우연기가 메소드급인 몰입하여 보게 되는 영화,3720,리처드 링클레이터,NaN,NaN,NaN,NaN,줄리 델피,에단 호크,NaN,NaN,NaN,NaN
12,봄날은 간다,97.0,"성별예매 분포: 남 45%, 여 55%","연령별예매 분포: 10대 1%, 20대 37%, 30대 38%, 40대 14%, 5...",배우연기가 메소드급인 공감되는 영화,1220,허진호,NaN,NaN,NaN,NaN,유지태,이문식,이영애,박인환,NaN,NaN

In [748]:
gender=data["성별"].str.split("%", expand=True)
gender["남자"]=gender[0].str[-2:]
gender["여자"]=gender[1].str[-2:]
data=pd.concat([data.drop(columns=["성별"]), gender[["남자","여자"]]], axis=1)
data[["남자","여자"]]=data[["남자","여자"]].astype(int)
data.head(2)

,영화제목,에그지수,연령별,관람포인트,실관람평개수,감독1,감독2,감독3,감독4,감독5,배우1,배우2,배우3,배우4,배우5,배우6,남자,여자
4,시월애,95.0,"연령별예매 분포: 10대 2%, 20대 31%, 30대 40%, 40대 14%, 5...",영상미가 뛰어나고 감동적인 영화,238,이현승,NaN,NaN,NaN,NaN,이인철,전지현,이정재,김무생,NaN,NaN,45,55
5,보리밭을 흔드는 바람,99.0,"연령별예매 분포: 10대 2%, 20대 28%, 30대 33%, 40대 18%, 5...",배우연기가 메소드급인 몰입하여 보게 되는 영화,862,켄 로치,NaN,NaN,NaN,NaN,킬리언 머피,NaN,NaN,NaN,NaN,NaN,39,61

In [749]:
age=data["연령별"].str.split("%", expand=True)
age["10대"]=age[0].str[-2:]
age["20대"]=age[1].str[-2:]
age["30대"]=age[2].str[-2:]
age["40대"]=age[3].str[-2:]
age["50대"]=age[4].str[-2:]
data=pd.concat([data.drop(columns=["연령별"]), age[["10대","20대","30대","40대","50대"]]], axis=1)
data[["10대","20대","30대","40대","50대"]]=data[["10대","20대","30대","40대","50대"]].astype(int)
data.head(2)

,영화제목,에그지수,관람포인트,실관람평개수,감독1,감독2,감독3,감독4,감독5,배우1,...,배우4,배우5,배우6,남자,여자,10대,20대,30대,40대,50대
4,시월애,95.0,영상미가 뛰어나고 감동적인 영화,238,이현승,NaN,NaN,NaN,NaN,이인철,...,김무생,NaN,NaN,45,55,2,31,40,14,13
5,보리밭을 흔드는 바람,99.0,배우연기가 메소드급인 몰입하여 보게 되는 영화,862,켄 로치,NaN,NaN,NaN,NaN,킬리언 머피,...,NaN,NaN,NaN,39,61,2,28,33,18,19

In [750]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2697 entries, 4 to 8185
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화제목    2697 non-null   object
 1   에그지수    2697 non-null   float64
 2   관람포인트   2697 non-null   object
 3   실관람평개수  2697 non-null   int64
 4   감독1     2516 non-null   object
 5   감독2     163 non-null    object
 6   감독3     14 non-null     object
 7   감독4     8 non-null      object
 8   감독5     3 non-null      object
 9   배우1     2556 non-null   object
 10  배우2     2399 non-null   object
 11  배우3     1916 non-null   object
 12  배우4     1314 non-null   object
 13  배우5     307 non-null    object
 14  배우6     11 non-null     object
 15  남자      2697 non-null   int64
 16  여자      2697 non-null   int64
 17  10대     2697 non-null   int64
 18  20대     2697 non-null   int64
 19  30대     2697 non-null   int64
 20  40대     2697 non-null   int64
 21  50대     2697 non-null   int64
dtypes: float64(1), int64(8), object(13)
memory usage: 484.6+ KB

# 저장

In [751]:
data.to_csv("전처리파일저장/cgv_전처리_통합파일.csv", index=False, encoding='utf-8-sig')